<aside id="home-slides">
  <div class="flexslider">
    <ul class="slides">
      <li style="background-image: url(/assets/img_bg_3.jpg);">
        <div class="overlay-gradient"></div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12 col-sm-offset-6 col-sm-6 col-md-6 col-md-offset-3 col-md-push-3 slider-text">
              <div class="slider-text-inner">
                <h1>Fresh Space Worth Working</h1>
                <p>
                  <a class="btn btn-primary btn-learn">Learn More</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li style="background-image: url(assets/img_bg_4.jpg);">
        <div class="overlay-gradient"></div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12 col-sm-offset-6 col-sm-6 col-md-6 col-md-offset-3 col-md-push-3 slider-text">
              <div class="slider-text-inner">
                <h1>Work Never Felt So Good</h1>
                <p>
                  <a class="btn btn-primary btn-learn">Learn More</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li style="background-image: url(assets/img_bg_2.jpg);">
        <div class="overlay-gradient"></div>
        <div class="container-fluids">
          <div class="row">
            <div class="col-xs-12 col-sm-offset-6 col-sm-6 col-md-6 col-md-offset-3 col-md-push-3 slider-text">
              <div class="slider-text-inner text-center">
                <h1>Success through Human Opportunity</h1>
                <p>
                  <a class="btn btn-primary btn-learn">Learn More</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</aside>
<div id="home-services">
  <div class="row">
    <div class="col-md-4 animate-box">
      <div class="services">
        <span class="icon">
          <i class="icon-diamond"></i>
        </span>
        <div class="desc text-justify">
          <h3 class="text-center">
            Brand Identity
          </h3>
          <p>WorkNation is a CoWorking community for creative and professional individuals. We strive to break away from the typical office to offer a setting that facilitates effortless networking in a collaborative environment. Within our community you can
            MEET other like-minded and passionate individuals to expand your ideas and materialize your vision.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center animate-box">
      <div class="services">
        <span class="icon">
          <i class="icon-heart"></i>
        </span>
        <div class="desc text-justify">
          <h3 class="text-center">
            Mindset
          </h3>
          <p>We’re all on the same WorkNation. Whether answering your questions or making a simple introduction to other members, we are here to help get the collaborative ball rolling. Why rely on serendipity, when you can MEET your next business partner in
            our lounge or in the kitchen while sipping a cup of coffee?</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center animate-box">
      <div class="services">
        <span class="icon">
          <i class="icon-users"></i>
        </span>
        <div class="desc text-justify">
          <h3 class="text-center">
            Team
          </h3>
          <p>WorkNation is comprised of driven Entrepreneurs, Soloprenuers, Small businesses, Non-profits and other open minded individuals with the same goal: success. Whether you require a closed office, open area seating, something semi-private, or just a
            comfy sofa, WorkNation has space for you and your team.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="home-work" class="home-light-grey">
  <div class="row animate-box">
    <div class="col-md-6 col-md-offset-3 text-center home-heading">
      <h2>Don't Just Work, Grow
      </h2>
      <p>WorkNation is truly atmospheric, combining warehouse charm with dedicated flexible work space for start ups and small businesses, with two distinct areas; focussed desk space, and an open area for collaboration, and presenting.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 text-center animate-box">
      <div class="work" style="background-image: url(assets/portfolio-1.jpg);">
        <div class="desc">
          <h3>Opportunities Worth Discovering</h3>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center animate-box">
      <div class="work" style="background-image: url(assets/portfolio-2.jpg);">
        <div class="desc">
          <h3>The Most Connected Spaces</h3>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center animate-box">
      <div class="work" style="background-image: url(assets/portfolio-3.jpg);">
        <div class="desc">
          <h3>Natural Collaboration & Engagement</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="home-counter" class="home-counters">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center animate-box">
      <p>Designed For Productivity</p>
    </div>
  </div>
  <div class="row animate-box">
    <div class="col-md-8 col-md-offset-2">
      <div class="row">
        <div class="col-md-3 text-center">
          <span class="home-counter js-counter" data-from="0" data-to="3452" data-speed="5000" data-refresh-interval="50"></span>
          <span class="home-counter-label">Cups of Coffee</span>
        </div>
        <div class="col-md-3 text-center">
          <span class="home-counter js-counter" data-from="0" data-to="75" data-speed="5000" data-refresh-interval="50"></span>
          <span class="home-counter-label">Coworkers</span>
        </div>
        <div class="col-md-3 text-center">
          <span class="home-counter js-counter" data-from="0" data-to="65" data-speed="5000" data-refresh-interval="50"></span>
          <span class="home-counter-label">Projects</span>
        </div>
        <div class="col-md-3 text-center">
          <span class="home-counter js-counter" data-from="0" data-to="82" data-speed="5000" data-refresh-interval="50"></span>
          <span class="home-counter-label">Done Projects</span>
        </div>
      </div>
    </div>
  </div>
</div>
