<aside id="home-slides">
  <div class="flexslider">
    <ul class="slides">
      <li style="background-image: url(assets/img_bg_1.jpg);">
        <div class="overlay-gradient"></div>
        <div class="container-fluids">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 slider-text slider-text-bg">
              <div class="slider-text-inner text-center">
                <h1>Pricing</h1>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</aside>

<div id="home-work">
  <div class="row">
    <div id="home-list" class="list-flex">
      <div class="featured-list" style="background-image: url(assets/blog-1.jpg);">
        <div class="desc-t"></div>
      </div>
      <div class="list-entry home-light-grey">
        <div class="row animate-box">
          <div class="col-md-12">
            <h1>Pricing</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 animate-box">
            <div class="row">
              <div class="col-md-3">
                <h2>$290/month</h2>
              </div>
              <div class="col-md-9">
                <h2>Full Time Open Desk Plan</h2>
              </div>
            </div>
          </div>
          <div class="col-md-12 animate-box">
            <div class="row">
              <div class="col-md-3">
                <h2>$190/month</h2>
              </div>
              <div class="col-md-9">
                <h2>Nights & Weekends Plan</h2>
              </div>
            </div>
          </div>
          <div class="col-md-12 animate-box">
            <div class="row">
              <div class="col-md-3">
                <h2>$190/month</h2>
              </div>
              <div class="col-md-9">
                <h2>Dedicated Desk Plan</h2>
              </div>
            </div>
          </div>
          <div class="col-md-12 animate-box">
            <div class="row">
              <div class="col-md-3">
                <h2>$100</h2>
              </div>
              <div class="col-md-9">
                <h2>One time initiation</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
