<div class="container-wrap">
  <footer id="home-footer" role="contentinfo">
    <div class="row copyright">
      <div class="col-md-12 text-center">
        <p>
          <small class="block">&copy; 2018 WorkNation. All Rights Reserved.</small>
          <small class="block">Designed by
            <a href="https://github.com/Saminemjo" target="_blank">Sabrina Mardjoeki</a>
          </small>
        </p>
        <p>
          <ul class="home-social-icons">
            <li>
              <a href="#">
                <i class="icon-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="icon-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="icon-linkedin"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="icon-dribbble"></i>
              </a>
            </li>
          </ul>
        </p>
      </div>
    </div>
  </footer>
</div>
<!-- END container-wrap -->
